.Login{
    background:url('../Images/loginbg.jpg') no-repeat;
    float: left;
    width:50%;
    padding:5%;
    margin: 0px;
  }
  .modal-container {
       position: relative;
     }
     .modal-container .modal, .modal-container .modal-backdrop {
       position: absolute;
     }