$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
nav.navbar{
  background-color: black;
}
ul.navbar{
  list-style: none;  
}
.navbar-brand{
  color: #ff7f00;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}
.nav-link{
  color:#ff7f00;
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}
.nav-item{
  :hover{
    animation-name: zoomIn;
    background-color: #ff7f00;
    text-shadow: 0 2px 1px rgba(0,0,0,0.5);
    color: bisque;
    border-radius:18px;
    }
}
.navContent{
  border-top: 4px solid #c27a32;
border-right:4px solid #673300;
border-bottom:4px solid #673300;
border-left:4px solid #c27a32;
}
// nav.navbar{
//   width:100%; 
// }
// .nav-link:hover{
//   animation-name: zoomIn;
//   animation-duration: 2s;
// }
// .nav-link{
//   color: #fff; 
//   //height:50px;
//   // border: #fff solid thick 10em;
//   }
//   ul.navbar li.nav-item{

//   :hover{
//     color: #663300;
//     background-color: #fff;
//     border-radius: 18px; 
//   }
// }
// .navbar-brand{
//   float:left;
//   background-color: black;
//   color:#fff;
//   font-family: 'Times New Roman', Times, serif;
//   font-size: 28px;
// }

// .navbar{
//   background-color: #663300; 
//   list-style: none;
//   display: inline-block;
//   text-align: center;
//   //border: thin solid #fff;

//   @include desktop {
//    li.nav-item{
//       float:left;
//     }  
//   }
// }
// .login-button{
//   float:left;
//   width:100%;
//   position:relative;
//   //border: thin solid #fff ; 
//   // margin:2px;
//   padding:0px;
//   border-radius: 18px;

//   @include desktop{
//     //display: inline-block;
//   }
// }
// // .Login{
// //   background:url('../Images/loginbg.jpg') no-repeat;
// //   float: left;
// //   width:50%;
// //   padding:5%;
// //   margin: 0px;
// // }